.container {
  background-color: yellowgreen;
  height: 100vh;
  display: flex;
}

.navbar {
  background-color: lightskyblue;
  margin: 10px;
}

.content {
  background-color: lime;
}

.main {
  margin: 5px;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .container {
    flex-direction: column;
  }
}
