.container {
  background-color: rgb(50, 78, 205);
  height: 100%;
  display: flex;
}

.navbar {
  background-color: orange;
  margin: 10px;
  color: azure;
  padding: 1rem;
  width: 100px;
}

.content {
  background-color: rgb(255, 0, 0);
  color: azure;
  width: 100%;
  flex-grow: 1;
}

.header {
  background-color: darkred;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.contact {
  background-color: rgb(16, 139, 0);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.about {
  background-color: indigo;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.projects {
  background-color: navy;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card {
  height: 200px;
  background-color: snow;
  margin: 1rem;
  color: black;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .container {
    flex-direction: column;
  }
}
