.container {
  background-color: rgb(50, 78, 205);
  height: 100vh;
  display: flex;
}

.navbar {
  background-color: rgb(71, 248, 35);
  margin: 10px;
  color: azure;
}

.content {
  background-color: rgb(255, 0, 0);
  margin: 10px;
  color: azure;
}

.header {
  background-color: darkred;
}

.about {
  background-color: indigo;
}

.projects {
  background-color: navy;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .container {
    flex-direction: column;
  }
}
